<h2>You can add new post!</h2>

<form action="/new" method="POST" role="form">
  	   <textarea name="post[content]" class="form-control" rows="6" style="width: 800px" placeholder="Type your post"></textarea>
	<br>
<p>Author:</p>
<input type="text" name="post[author]"/>  
	</br>  <br>
 	   <button type="submit" class="btn btn-primary">Submit</button>
 </form>	