<h2>Our posts</h2>
<% @posts.each do |post|%>
	<br><%= post.content %>
	<br>
	<span style="color:gray">
Added by <%= post.author%>
<br> <%= post.created_at %>
<br><br>		</span>
<a href="/details/<%= post.id%>">Comments</a>
<%end%>